.app {
  font-family: "Segoe UI", Arial, sans-serif;
}

/* wrapper for header + nav */
.topContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    background: #ffff;  
    padding-bottom: 0.5rem;
}