.app {
  font-family: 'Inter', sans-serif;
}

/* wrapper for header + nav */
.topContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    background: #ffffff;
    padding-bottom: 0.5rem;
}
.main{
  margin-top: 12rem;
}
