.navbar {
    width: 70%;
    background: #ececf0;

    padding: 0.5rem;

    border-radius: 4rem;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);

    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.navItem {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    font-size: 1rem;
    letter-spacing: 0.5px;
    padding: 0.75rem 1rem;
    text-align: center;
    flex: 1;
    border-radius: 4rem;
    position: relative;
}

.navItem:hover,
.navItem.active {
    background: rgba(255, 255, 255, 0.9);
    color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
}
